section{
    display: block;
}
body{
    margin: 0;
}


.navbar_list{
    list-style-type: none;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    margin:0px;
    left: 250px;
    padding: 0;
    width: 60%;
    border-radius: 10px;
    background-color: rgba(172, 241, 22, 0.863);
}
.navbar_list li{
    display: list-item;
    display: inline;
    text-align: center;
    padding:1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li a{
    display: block;
    text-decoration: none;
    color: rgb(32, 110, 44);
}
li a:hover{
    background-color: rgb(32, 110, 44);
    color: whitesmoke;
    border-radius: 10px;
    padding:5px;
}

.container-home{
    position: relative;
    height: 100vh;
    background-position: center;
}
.home img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}
.welcome{
    color: rgba(234, 255, 0, 0.863);
    text-shadow: 2px 2px rgb(30, 85, 9);
    display: block;
    text-align: center;
    line-height: 1;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
h1{
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
}
h1, .subtitle {
    margin: 0;
    color: rgb(30, 85, 9);
    text-shadow: 1px 1px rgba(234, 255, 0, 0.863);
}
.subtitle {
    font-size: 40px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.container-about{
    padding:50px 100px;
    background-color: #FFFB73;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(30, 85, 9);
    text-align: center;
    height: fit-content;
}
.grid-container{
    display:grid;
    gap: 1rem;
    height: 550px;
    grid-template: 1fr 0.2fr 0.3fr 3.5fr / 1fr 1fr 1fr;
}
 .my_pic{
    grid-area: 1/1/2/4;
    grid-column:span 3;
 }
 .my_pic > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: dotted rgb(30, 85, 9) 4px;
    box-shadow: 2px 3px 5px rgba(42, 112, 14, 0.879);
}
.img-title{
    grid-area: 2/1/3/4;
    grid-column: span 3;
    margin-top: -1rem;
}
.about-heading{
    grid-area: 3/1/4/4;
    grid-column: span 3;
}
h2{
    font-size: 40px;
    font-weight: 500;
}
p{
    font-weight: 500;
    text-align: justify;
}
.about-heading > h2 > img{
    height:40px;
    width:40px;
    border-radius: 50%;
}
.para1{
    grid-area: 4/1/5/2;
    margin-right: 2rem;
}
.para2{
    grid-area: 4/2/5/3;
    margin-right: 2rem;
}
.para3{
    grid-area: 4/3/5/4;
}



.container-port{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(30, 85, 9);
    background-color: #a7e665;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-port > .container{
    padding: 12px;
}
.container-port > h2 {
    padding-bottom: 5px;
}
.row{
    --bs-gutter-y: 1.5rem;
}
.col{
    text-align: -webkit-center;
}
.card{
    border: dotted rgb(30, 85, 9) 2px;
    --bs-card-title-color: rgb(30, 85, 9);
    --bs-card-subtitle-color: rgb(30, 85, 9);
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: rgb(30, 85, 9);
    box-shadow: 2px 3px 5px rgb(30, 85, 9);
    --bs-card-bg: #f6f381;
    width:20rem;
 }
 .card-title{
    padding-top: 5px;
 }
 .card-text{
    color: rgb(30, 85, 9);
 }
.btn{
    color: #fffb73;
    background-color: rgb(32, 110, 44);
    border: 2px solid rgba(30, 85, 9, 0.4);
    box-shadow: 2px 3px 5px rgba(31, 85, 9, 0.879);
    transition-property: font-weight;
}
.btn:hover{
    font-weight: 800;
}
.btn-primary {
    --bs-btn-color: rgb(32, 110, 44);
    --bs-btn-bg: rgb(32, 110, 44);
    --bs-btn-border-color: #fffb73;
    --bs-btn-hover-color: rgb(32, 110, 44);
    --bs-btn-hover-bg: #fffb73;
    --bs-btn-hover-border-color: rgb(32, 110, 44);
    --bs-btn-focus-shadow-rgb: 32, 110, 44;
    --bs-btn-active-color: rgb(32, 110, 44);
    --bs-btn-active-bg: #fffb73;
    --bs-btn-active-border-color: #198754;
    --bs-btn-hover-shadow-rgb: 32, 110, 44;
}    


.container-inter{
    height:700px;
    background-color: #FFFB73;
    padding-top: 50px;
}
.container-inter > .container{
    height:700px;
    width:400px;
    color: rgb(32, 110, 44);
}

.container-contact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(30, 85, 9);
    background-color: #a7e665;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
}
.container-contact > p{
    text-align: center;
}
.contact1 > p{
    text-align: center;
}
.con:hover{
    height:60px;
}

.c1{
    position:relative;
}

.c1-text{
    visibility: hidden;
    display: block;
    line-height: 1;
    background-color: #f6f381;
    color: rgb(30, 85, 9);
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    border:1px solid rgb(30, 85, 9);
    box-shadow: 2px 3px 5px rgb(30, 85, 9);

    position: absolute;
    z-index: 1;
}
.c1:hover .c1-text{
    visibility: visible;
}


hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border: dotted orange 6px;
    border-bottom: none;
    margin: 0;
    border-width: 5px;
}

.footer{
    background-color: rgba(172, 241, 22, 0.863);
    color: rgb(32, 110, 44);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width:402px)
{
    .container-home{
        height: 70vh;
    }
    .title{
        height: 60vh;
    }
    .container-about{
        height:650px;
        font-size: 30%;
        padding: 3px;
    } 
    .grid-container{
        gap: 0.2rem;
        height: 630px;
    }  
}
@media (min-width:403px) and (max-width:470px)
{
    .container-home{
        height: 80vh;
    }
    .title{
        height: 65vh;
    }
    .container-about{
        height:700px;
        font-size: 50%;
        padding: 5px;
    } 
    .grid-container{
        gap: 0.5rem;
        height: 600px;
    }
}
@media (max-width:680px){
    .navbar_list{
        flex-direction: column;
        left:0px;
        width: 100%;
        position: relative;
    }
    .navbar_list li{
        font-size: 0.8rem;
    }
    .container-home{
        height: 80vh;
        width: 100%;
        font-size: 50%;
    }
    .title{
        height: 65vh;
    }
    h1{
        font-size: 40px;
    }
    h2, .subtitle{
        font-size: 20px;
    }
    .container-about{
        height:fit-content;
        font-size: 80%;
        padding: 10px;
    }
    .my_pic > img{
        height: 100px;
        width: 100px;
    }

    .row{
        flex-direction: column;
    }
    .col{
        text-align: -webkit-center;
        padding-left: 70px;
    }

}
@media (min-width:681px) and (max-width:920px)
{
    .navbar_list{
        left:30px;
        width: 80%;
        position: fixed;
    }
    .navbar_list li{
        font-size: 0.95rem;
    }
    .container-about{
        height:fit-content;
        font-size: 90%; 
        padding: 20px 50px;
    }
    .my_pic > img{
        height: 150px;
        width: 150px;
    }
    h2{
        font-size: 30px;
    }

    .container-port > .container{
        padding-left: 0px;
    }

}
@media (min-width:681px) and (max-width:770px){
    .card{
        width:17rem;
    }
}